In [1]:
import os
from DataDTM import DataDTM

In [2]:
import geopandas
import pandas as pd
import numpy as np

In [3]:
# input dir with raster data (.tif)
input_dir = '/media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/DTM/'
# output dir to write out mosaiced data (.tif)
output_dir = '/media/philipp/DATA/dtm/'
# path to info about the extefnd of the dtm tiles to be produced
dtm_tiles = geopandas.read_file('/home/philipp/Data/edin_diss/GIS_grid/dtm_mosaic_tiles/dtm_mosaic_tiles.shp')

dtm = DataDTM(input_dir)

provided path found
reading file 'dtm_info.csv' ...
dtm initialised

In [4]:
dtm_tiles

,id,area,x_min,x_max,y_min,y_max,geometry
0,1,900491770,588890.9,618890.9,464061.6,494061.6,"POLYGON ((618890.929 494061.562, 618890.929 46..."
1,2,432266386,586373.4,613373.4,447965.8,463965.8,"POLYGON ((613373.371 463965.793, 613373.371 44..."
2,3,1926264735,498979.9,575979.9,413782.7,438782.7,"POLYGON ((498979.946 438782.717, 575979.946 43..."
3,4,5253387,495211.2,497711.2,440149.6,442249.6,"POLYGON ((497711.203 442249.631, 497711.203 44..."
4,5,117072370,480052.1,493052.1,448253.3,457253.3,"POLYGON ((480052.068 457253.257, 493052.068 45..."
...,...,...,...,...,...,...,...
285,286,32809,463473.5,463653.0,316266.2,316450.1,"POLYGON ((463473.505 316450.051, 463652.990 31..."
286,287,125770144,440527.6,455682.1,305079.8,313435.6,"POLYGON ((440527.605 305079.818, 440527.605 31..."
287,288,5169479,406758.6,409517.9,295244.9,297139.3,"POLYGON ((406758.574 297139.252, 409517.877 29..."
288,289,4397702,401490.8,403255.4,297182.5,299682.3,"POLYGON ((401490.813 299665.009, 403255.383 29..."
289,290,21708972,402753.7,410114.7,300365.6,303315.2,"POLYGON ((402753.691 300365.647, 402762.341 30..."

In [6]:
# sort by area
dtm_tiles = dtm_tiles.sort_values(by=['area'], ascending=False)
# assign id in ascending order
dtm_tiles['id'] = range(0,290)

dtm_tiles_x = dtm_tiles.loc[dtm_tiles['id'].isin(np.arange(3,dtm_tiles.shape[0],4))]

In [7]:
dtm_tiles_x

,id,area,x_min,x_max,y_min,y_max,geometry
0,3,900491770,588890.9,618890.9,464061.6,494061.6,"POLYGON ((618890.929 494061.562, 618890.929 46..."
71,7,645417034,371792.8,401792.8,351679.0,373179.0,"POLYGON ((371792.780 351679.022, 371792.780 37..."
1,11,432266386,586373.4,613373.4,447965.8,463965.8,"POLYGON ((613373.371 463965.793, 613373.371 44..."
82,15,363661677,383894.3,408068.2,419403.9,434538.1,"POLYGON ((386197.983 434538.104, 408068.232 43..."
94,19,208135661,370848.7,390502.8,380496.7,391111.1,"POLYGON ((390502.777 391111.080, 390386.136 38..."
...,...,...,...,...,...,...,...
167,271,219087,247448.9,248023.0,392168.9,392554.4,"POLYGON ((247448.912 392554.403, 248023.006 39..."
120,275,159957,402871.2,403269.0,414974.1,415376.0,"POLYGON ((402871.200 415376.007, 403268.965 41..."
246,279,132573,199085.5,199420.8,384452.7,384849.4,"POLYGON ((199085.522 384846.370, 199420.752 38..."
243,283,80586,178787.2,179091.7,386534.8,386799.3,"POLYGON ((178787.198 386799.315, 179091.673 38..."
112,287,54418,395064.5,395269.6,408610.9,408881.6,"POLYGON ((395064.547 408881.569, 395269.580 40..."

In [8]:
dtm_tiles_x.shape

(72, 7)

In [9]:
#dtm = DataDTM(input_dir)

# setting extend by raster
#path_ortho = '/media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/ortho/2018250_bischofshofen_lb_rgbi.img'
#dtm.set_extend_by_raster(path_ortho)

# setting extend manually
#ulx,uly,lrx,lry = 177527, 400877, 185000, 350200
#dtm.set_extend_by_coordinates(ulx, uly, lrx, lry)
#dtm.set_extend_by_coordinates(row['x_min'], row['y_max'], row['x_max'], row['y_min'])
#dtm.get_extend()

In [10]:
#dtm.create_dtm(os.path.join(output_dir, 'dtm_{}.tif'.format(row['id'])))

In [11]:
# loop over all tiles
for index, row in dtm_tiles_x.iterrows():
    
    print(index, row['x_min'], row['x_max'], row['y_min'], row['y_max'])
    # setting extend
    dtm.set_extend_by_coordinates(row['x_min'], row['y_max'], row['x_max'], row['y_min'])
    dtm.create_dtm(os.path.join(output_dir, 'dtm_{}.tif'.format(row['id'])))
    dtm.create_slope(os.path.join(output_dir, 'slope_{}.tif'.format(row['id'])))

0 588890.9 618890.9 464061.6 494061.6
DTM file created - files merged
Slope file created
71 371792.8 401792.8 351679.0 373179.0
DTM file created - files merged
Slope file created
1 586373.4 613373.4 447965.8 463965.8
DTM file created - files merged
Slope file created
82 383894.3 408068.2 419403.9 434538.1
DTM file created - files merged
Slope file created
94 370848.7 390502.8 380496.7 391111.1
DTM file created - files merged
Slope file created
171 260989.3 277359.2 367458.3 376676.6
DTM file created - files merged
Slope file created
227 188588.8 196019.2 337674.3 351058.9
DTM file created - files merged
Slope file created
138 347196.4 359596.8 381803.8 388758.5
DTM file created - files merged
Slope file created
54 622332.2 633332.2 381587.8 388587.8
DTM file created - files merged
Slope file created
59 525336.2 534836.2 362445.6 369545.6
DTM file created - files merged
Slope file created
247 459688.3 467807.7 321706.3 328423.2
DTM file created - files merged
Slope file created
155 245073.3 252323.2 381024.7 387848.2
DTM file created - files merged
Slope file created
265 392660.0 401298.4 326440.6 331319.2
DTM file created - files merged
Slope file created
56 311731.4 319731.4 405086.0 409586.0
DTM file created - files merged
Slope file created
107 381524.1 388413.3 414491.3 419502.3
DTM file created - files merged
Slope file created
48 530523.9 535523.9 534827.0 540827.0
DTM file created - files merged
Slope file created
147 323396.1 329399.5 376374.5 380426.0
DTM file created - files merged
Slope file created
79 405807.6 413000.0 434570.0 438175.9
DTM file created - files merged
Slope file created
78 407853.2 413244.2 439575.6 443490.3
DTM file created - files merged
Slope file created
207 342207.2 347762.3 388401.8 391704.2
DTM file created - files merged
Slope file created
11 563451.1 566951.1 442868.8 447668.8
DTM file created - files merged
Slope file created
242 180082.0 185617.9 386525.6 389268.9
DTM file created - files merged
Slope file created
282 419281.4 423666.9 317470.7 320775.0
DTM file created - files merged
Slope file created
277 427233.5 433530.6 295603.9 297691.4
DTM file created - files merged
Slope file created
81 395266.8 397351.8 440443.1 446508.4
DTM file created - files merged
Slope file created
205 332037.6 336258.5 387313.7 390178.7
DTM file created - files merged
Slope file created
184 279212.7 282370.2 351739.1 355364.0
DTM file created - files merged
Slope file created
215 207876.3 211731.0 376392.8 379066.5
DTM file created - files merged
Slope file created
30 532345.7 534845.7 476894.5 480594.5
DTM file created - files merged
Slope file created
254 390065.1 393294.4 332497.5 335069.3
DTM file created - files merged
Slope file created
181 282124.2 285363.7 355476.1 357944.7
DTM file created - files merged
Slope file created
143 338765.4 340914.2 382525.5 386002.9
DTM file created - files merged
Slope file created
57 520347.1 523847.1 355306.3 357306.3
DTM file created - files merged
Slope file created
165 240781.2 243389.2 392390.4 394818.0
DTM file created - files merged
Slope file created
198 334391.4 336337.8 396403.6 399367.0
DTM file created - files merged
Slope file created
182 283649.6 285683.6 358494.2 361143.3
DTM file created - files merged
Slope file created
91 343664.0 346098.9 365187.5 367330.8
DTM file created - files merged
Slope file created
43 575622.0 578122.0 517323.7 519323.7
DTM file created - files merged
Slope file created
283 416124.2 418598.1 320636.6 322461.7
DTM file created - files merged
Slope file created
144 325954.9 327775.6 392482.0 394712.7
DTM file created - files merged
Slope file created
250 481487.5 483726.5 325642.9 327340.6
DTM file created - files merged
Slope file created
137 370402.1 373190.5 379294.2 380553.1
DTM file created - files merged
Slope file created
63 628228.7 629728.7 377804.2 379804.2
DTM file created - files merged
Slope file created
46 529270.0 530670.0 547614.0 549714.0
DTM file created - files merged
Slope file created
49 530346.0 532846.0 517797.8 518797.8
DTM file created - files merged
Slope file created
65 619130.7 620230.7 390274.3 392474.3
DTM file created - files merged
Slope file created
159 246492.1 247845.3 373048.9 374631.7
DTM file created - files merged
Slope file created
89 362917.1 364750.6 370046.4 371103.4
DTM file created - files merged
Slope file created
175 292039.6 293253.4 368065.2 369607.0
DTM file created - files merged
Slope file created
213 215372.4 216569.8 383298.4 384758.2
DTM file created - files merged
Slope file created
128 377816.1 379120.1 375427.3 376632.9
DTM file created - files merged
Slope file created
158 246492.1 248362.0 375857.8 376628.8
DTM file created - files merged
Slope file created
92 340179.3 341447.8 371136.3 372258.9
DTM file created - files merged
Slope file created
67 604229.8 605229.8 368895.8 370195.8
DTM file created - files merged
Slope file created
68 598849.7 599849.7 364213.5 365413.5
DTM file created - files merged
Slope file created
160 252921.9 253897.9 370383.4 371425.0
DTM file created - files merged
Slope file created
260 376963.4 378324.3 338815.7 339473.1
DTM file created - files merged
Slope file created
42 536354.9 537354.9 468677.3 469477.3
DTM file created - files merged
Slope file created
104 388355.8 389110.4 400056.9 401016.5
DTM file created - files merged
Slope file created
272 429675.6 430650.2 293248.3 293865.3
DTM file created - files merged
Slope file created
232 160958.5 161696.6 356496.4 357173.0
DTM file created - files merged
Slope file created
270 419070.9 419774.4 304862.1 305496.5
DTM file created - files merged
Slope file created
196 357284.0 357776.1 399870.0 400684.7
DTM file created - files merged
Slope file created
111 395245.0 395819.1 406134.1 406741.0
DTM file created - files merged
Slope file created
231 170406.5 170984.6 363274.8 363828.4
DTM file created - files merged
Slope file created
252 436714.3 437406.3 332070.7 332495.1
DTM file created - files merged
Slope file created
191 326157.2 326534.5 384653.8 385304.4
DTM file created - files merged
Slope file created
167 247448.9 248023.0 392168.9 392554.4
DTM file created - files merged
Slope file created
120 402871.2 403269.0 414974.1 415376.0
DTM file created - files merged
Slope file created
246 199085.5 199420.8 384452.7 384849.4
DTM file created - files merged
Slope file created
243 178787.2 179091.7 386534.8 386799.3
DTM file created - files merged
Slope file created
112 395064.5 395269.6 408610.9 408881.6
DTM file created - files merged
Slope file created

In [12]:
#dtm.get_extend()

In [13]:
#dtm.create_dtm(output_path)

In [7]:
#dtm.create_slope('/home/philipp/Data/edin_diss/test/test_slope.tif')

Slope file created

In [16]:
t_ulx, t_uly, t_lrx, t_lry = dtm.extend

In [22]:
t_uly

369160.6

In [27]:
t_lry

368660.6

In [26]:
idx_fil = dtm.index[(t_ulx <= dtm.index['lrx']) &
                             (t_lrx >= dtm.index['ulx']) &
                             (t_uly >= dtm.index['uly']) &
                             (t_lry <= dtm.index['lry'])]

In [44]:
idx_fil = dtm.index[(dtm.index['ulx'] <= t_lrx) & (dtm.index['lrx'] >= t_ulx) &
                   (dtm.index['lry'] <= t_uly) & (dtm.index['uly'] >= t_lry)]

In [45]:
idx_fil

,filename,y,x,ulx,uly,lrx,lry
3492,204-38.tif,204,38,622217.473231,369431.35679,622527.372119,368406.691115
3515,205-38.tif,205,38,622527.372119,369431.35679,622881.256654,368406.691115

In [10]:
dtm.index

,filename,y,x,ulx,uly,lrx,lry
0,100-16.tif,100,16,360026.829121,315262.828057,362527.146703,315228.837334
1,100-17.tif,100,17,360026.829121,317762.145911,362527.146703,315262.828057
2,100-18.tif,100,18,360027.234669,320262.444506,362527.527239,317762.151937
3,100-19.tif,100,19,360027.428356,322762.733928,362526.709275,320262.453296
4,100-20.tif,100,20,360027.615981,325263.011413,362526.885346,322762.742338
...,...,...,...,...,...,...,...
6244,99-75.tif,99,75,357527.317067,462762.206705,360027.529346,460262.994113
6245,99-76.tif,99,76,357527.153018,465262.277605,360027.368623,462762.062002
6246,99-77.tif,99,77,357526.980899,467762.506630,360027.206428,465262.281104
6247,99-78.tif,99,78,357527.616560,470262.749518,360026.863399,467762.502980
6248,99-79.tif,99,79,357527.616560,472677.021964,360026.863399,470262.749518

In [5]:
31121/5

6224.2

In [11]:
dtm.get_extend()

(622455.0, 369160.6, 622955.0, 368660.6)

In [15]:
dtm.index['uly'].max()

553568.494734126