In [1]:
import os
from DataDTM import DataDTM

In [2]:
import geopandas
import pandas as pd
import numpy as np

In [3]:
# input dir with raster data (.tif)
input_dir = '/media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/DTM/'
# output dir to write out mosaiced data (.tif)
output_dir = '/media/philipp/DATA/dtm/'
# path to info about the extefnd of the dtm tiles to be produced
dtm_tiles = geopandas.read_file('/home/philipp/Data/edin_diss/GIS_grid/dtm_mosaic_tiles/dtm_mosaic_tiles.shp')

dtm = DataDTM(input_dir)

provided path found
reading file 'dtm_info.csv' ...
dtm initialised

In [4]:
dtm_tiles

,id,area,x_min,x_max,y_min,y_max,geometry
0,1,900491770,588890.9,618890.9,464061.6,494061.6,"POLYGON ((618890.929 494061.562, 618890.929 46..."
1,2,432266386,586373.4,613373.4,447965.8,463965.8,"POLYGON ((613373.371 463965.793, 613373.371 44..."
2,3,1926264735,498979.9,575979.9,413782.7,438782.7,"POLYGON ((498979.946 438782.717, 575979.946 43..."
3,4,5253387,495211.2,497711.2,440149.6,442249.6,"POLYGON ((497711.203 442249.631, 497711.203 44..."
4,5,117072370,480052.1,493052.1,448253.3,457253.3,"POLYGON ((480052.068 457253.257, 493052.068 45..."
...,...,...,...,...,...,...,...
285,286,32809,463473.5,463653.0,316266.2,316450.1,"POLYGON ((463473.505 316450.051, 463652.990 31..."
286,287,125770144,440527.6,455682.1,305079.8,313435.6,"POLYGON ((440527.605 305079.818, 440527.605 31..."
287,288,5169479,406758.6,409517.9,295244.9,297139.3,"POLYGON ((406758.574 297139.252, 409517.877 29..."
288,289,4397702,401490.8,403255.4,297182.5,299682.3,"POLYGON ((401490.813 299665.009, 403255.383 29..."
289,290,21708972,402753.7,410114.7,300365.6,303315.2,"POLYGON ((402753.691 300365.647, 402762.341 30..."

In [5]:
# sort by area
dtm_tiles = dtm_tiles.sort_values(by=['area'], ascending=False)
# assign id in ascending order
dtm_tiles['id'] = range(0,290)

dtm_tiles_x = dtm_tiles.loc[dtm_tiles['id'].isin(np.arange(2,dtm_tiles.shape[0],4))]

In [6]:
dtm_tiles_x

,id,area,x_min,x_max,y_min,y_max,geometry
25,2,1081694053,402564.7,449564.7,350181.8,373181.8,"POLYGON ((449564.705 350181.753, 402564.705 35..."
73,6,660429653,415998.0,443498.0,425192.2,449192.2,"POLYGON ((443498.035 425192.218, 415998.035 42..."
14,10,551267693,530111.4,559111.4,482346.5,501346.5,"POLYGON ((530111.355 482346.520, 530111.355 50..."
74,14,391267184,433991.8,450991.8,396265.2,419265.2,"POLYGON ((433991.767 396265.169, 433991.767 41..."
6,18,210137703,482466.6,494466.6,426711.8,444211.8,"POLYGON ((482466.614 444211.757, 494466.614 44..."
...,...,...,...,...,...,...,...
203,270,229662,341974.9,342559.9,396674.2,397067.9,"POLYGON ((341974.860 397067.875, 342559.889 39..."
118,274,167663,399772.1,400206.8,415696.9,416082.3,"POLYGON ((399772.118 416082.348, 400206.789 41..."
263,278,141642,380913.5,381294.1,337229.9,337604.7,"POLYGON ((380913.530 337604.711, 381294.124 33..."
183,282,97316,287239.1,287630.0,360148.2,360396.9,"POLYGON ((287239.095 360396.936, 287630.026 36..."
185,286,69858,280350.0,280675.3,350976.3,351192.3,"POLYGON ((280349.967 351189.561, 280675.287 35..."

In [7]:
dtm_tiles_x.shape

(72, 7)

In [8]:
#dtm = DataDTM(input_dir)

# setting extend by raster
#path_ortho = '/media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/ortho/2018250_bischofshofen_lb_rgbi.img'
#dtm.set_extend_by_raster(path_ortho)

# setting extend manually
#ulx,uly,lrx,lry = 177527, 400877, 185000, 350200
#dtm.set_extend_by_coordinates(ulx, uly, lrx, lry)
#dtm.set_extend_by_coordinates(row['x_min'], row['y_max'], row['x_max'], row['y_min'])
#dtm.get_extend()

In [9]:
#dtm.create_dtm(os.path.join(output_dir, 'dtm_{}.tif'.format(row['id'])))

In [10]:
# loop over all tiles
for index, row in dtm_tiles_x.iterrows():
    
    print(index, row['x_min'], row['x_max'], row['y_min'], row['y_max'])
    # setting extend
    dtm.set_extend_by_coordinates(row['x_min'], row['y_max'], row['x_max'], row['y_min'])
    dtm.create_dtm(os.path.join(output_dir, 'dtm_{}.tif'.format(row['id'])))
    dtm.create_slope(os.path.join(output_dir, 'slope_{}.tif'.format(row['id'])))

25 402564.7 449564.7 350181.8 373181.8
DTM file created - files merged
Slope file created
73 415998.0 443498.0 425192.2 449192.2
DTM file created - files merged
Slope file created
14 530111.4 559111.4 482346.5 501346.5
DTM file created - files merged
Slope file created
74 433991.8 450991.8 396265.2 419265.2
DTM file created - files merged
Slope file created
6 482466.6 494466.6 426711.8 444211.8
DTM file created - files merged
Slope file created
186 291711.6 309732.6 378480.9 389547.2
DTM file created - files merged
Slope file created
4 480052.1 493052.1 448253.3 457253.3
DTM file created - files merged
Slope file created
170 277654.5 286380.7 377595.2 388355.3
DTM file created - files merged
Slope file created
87 338564.6 357708.3 376829.8 380853.9
DTM file created - files merged
Slope file created
90 336009.4 354876.1 372142.3 375758.2
DTM file created - files merged
Slope file created
10 581192.5 589192.5 436326.6 443326.6
DTM file created - files merged
Slope file created
114 394679.1 406849.9 410817.1 415114.6
DTM file created - files merged
Slope file created
222 212128.7 216606.7 398052.6 407869.6
DTM file created - files merged
Slope file created
44 620764.5 624264.5 432573.9 443073.9
DTM file created - files merged
Slope file created
19 500616.3 507116.3 448232.0 453732.0
DTM file created - files merged
Slope file created
26 618548.8 623548.8 423827.4 429827.4
DTM file created - files merged
Slope file created
103 403561.1 411106.4 400015.9 403247.2
DTM file created - files merged
Slope file created
218 182448.1 191781.2 392857.0 395350.2
DTM file created - files merged
Slope file created
289 402753.7 410114.7 300365.6 303315.2
DTM file created - files merged
Slope file created
274 442806.1 446911.9 290330.4 294839.8
DTM file created - files merged
Slope file created
273 435759.4 441664.3 289834.4 292752.3
DTM file created - files merged
Slope file created
219 200359.8 203509.1 394562.9 399549.3
DTM file created - files merged
Slope file created
70 315824.9 319624.9 423229.3 427029.3
DTM file created - files merged
Slope file created
221 192691.5 196677.4 408177.1 411535.6
DTM file created - files merged
Slope file created
95 387309.7 391290.1 390921.5 394107.3
DTM file created - files merged
Slope file created
172 267484.8 273045.3 382778.4 385009.2
DTM file created - files merged
Slope file created
83 382290.5 384740.0 432941.6 437891.5
DTM file created - files merged
Slope file created
224 216176.1 220863.2 358723.0 360998.9
DTM file created - files merged
Slope file created
38 530146.3 532846.3 469112.7 472612.7
DTM file created - files merged
Slope file created
142 342554.4 345490.5 382886.4 385740.5
DTM file created - files merged
Slope file created
12 556958.6 560058.6 442197.0 444797.0
DTM file created - files merged
Slope file created
21 541483.4 545983.4 457397.2 459097.2
DTM file created - files merged
Slope file created
163 238397.4 241207.7 364505.8 367020.9
DTM file created - files merged
Slope file created
249 481093.8 483701.9 330539.1 333024.1
DTM file created - files merged
Slope file created
121 388748.5 391307.3 374992.6 377387.4
DTM file created - files merged
Slope file created
178 297895.4 300158.9 358059.6 360536.4
DTM file created - files merged
Slope file created
3 495211.2 497711.2 440149.6 442249.6
DTM file created - files merged
Slope file created
45 537739.4 540539.4 541640.1 543440.1
DTM file created - files merged
Slope file created
36 475162.2 478462.2 455265.6 456665.6
DTM file created - files merged
Slope file created
210 233579.3 235465.7 384200.5 386398.5
DTM file created - files merged
Slope file created
8 486951.5 489051.5 444919.7 446719.7
DTM file created - files merged
Slope file created
148 320984.9 323576.5 378375.6 379753.5
DTM file created - files merged
Slope file created
131 374535.6 376331.7 374172.5 375943.9
DTM file created - files merged
Slope file created
177 295024.9 297444.3 361217.1 362447.3
DTM file created - files merged
Slope file created
268 436612.8 438365.9 296892.7 298334.4
DTM file created - files merged
Slope file created
180 289776.0 291260.5 356812.9 358461.4
DTM file created - files merged
Slope file created
157 250683.0 251995.2 376333.5 378023.0
DTM file created - files merged
Slope file created
161 249444.6 251527.7 367316.1 368300.3
DTM file created - files merged
Slope file created
149 344785.2 346015.4 367754.9 369280.4
DTM file created - files merged
Slope file created
153 315342.4 316531.6 376374.5 377867.2
DTM file created - files merged
Slope file created
151 338462.0 339700.4 364581.0 365885.0
DTM file created - files merged
Slope file created
244 193322.0 194841.3 389690.3 390668.3
DTM file created - files merged
Slope file created
106 391365.7 392620.5 397785.2 398925.1
DTM file created - files merged
Slope file created
257 388975.2 389847.9 344716.8 346258.4
DTM file created - files merged
Slope file created
255 394193.9 395174.3 335161.6 336407.2
DTM file created - files merged
Slope file created
199 342220.9 343237.9 398404.7 399465.4
DTM file created - files merged
Slope file created
264 377505.5 378408.0 341753.8 342771.6
DTM file created - files merged
Slope file created
179 292179.0 292958.2 354147.5 355189.1
DTM file created - files merged
Slope file created
69 599374.6 600174.6 361233.0 362133.0
DTM file created - files merged
Slope file created
208 343008.2 343826.7 391667.0 392437.9
DTM file created - files merged
Slope file created
41 539817.9 540617.9 472777.3 473477.3
DTM file created - files merged
Slope file created
129 383130.6 383917.9 373696.8 374270.9
DTM file created - files merged
Slope file created
130 378751.0 379464.6 373286.7 373860.8
DTM file created - files merged
Slope file created
99 383631.9 384074.7 410940.1 411776.6
DTM file created - files merged
Slope file created
240 188933.3 189283.9 382810.4 383757.6
DTM file created - files merged
Slope file created
150 353962.5 354544.8 369641.2 370166.1
DTM file created - files merged
Slope file created
37 511167.0 511667.0 467134.2 467634.2
DTM file created - files merged
Slope file created
203 341974.9 342559.9 396674.2 397067.9
DTM file created - files merged
Slope file created
118 399772.1 400206.8 415696.9 416082.3
DTM file created - files merged
Slope file created
263 380913.5 381294.1 337229.9 337604.7
DTM file created - files merged
Slope file created
183 287239.1 287630.0 360148.2 360396.9
DTM file created - files merged
Slope file created
185 280350.0 280675.3 350976.3 351192.3
DTM file created - files merged
Slope file created

In [5]:
#dtm.get_extend()

(177527, 400877, 185000, 350200)

In [6]:
#dtm.create_dtm(output_path)

DTM file created - files merged

In [7]:
#dtm.create_slope('/home/philipp/Data/edin_diss/test/test_slope.tif')

Slope file created

In [16]:
t_ulx, t_uly, t_lrx, t_lry = dtm.extend

In [22]:
t_uly

369160.6

In [27]:
t_lry

368660.6

In [26]:
idx_fil = dtm.index[(t_ulx <= dtm.index['lrx']) &
                             (t_lrx >= dtm.index['ulx']) &
                             (t_uly >= dtm.index['uly']) &
                             (t_lry <= dtm.index['lry'])]

In [44]:
idx_fil = dtm.index[(dtm.index['ulx'] <= t_lrx) & (dtm.index['lrx'] >= t_ulx) &
                   (dtm.index['lry'] <= t_uly) & (dtm.index['uly'] >= t_lry)]

In [45]:
idx_fil

,filename,y,x,ulx,uly,lrx,lry
3492,204-38.tif,204,38,622217.473231,369431.35679,622527.372119,368406.691115
3515,205-38.tif,205,38,622527.372119,369431.35679,622881.256654,368406.691115

In [10]:
dtm.index

,filename,y,x,ulx,uly,lrx,lry
0,100-16.tif,100,16,360026.829121,315262.828057,362527.146703,315228.837334
1,100-17.tif,100,17,360026.829121,317762.145911,362527.146703,315262.828057
2,100-18.tif,100,18,360027.234669,320262.444506,362527.527239,317762.151937
3,100-19.tif,100,19,360027.428356,322762.733928,362526.709275,320262.453296
4,100-20.tif,100,20,360027.615981,325263.011413,362526.885346,322762.742338
...,...,...,...,...,...,...,...
6244,99-75.tif,99,75,357527.317067,462762.206705,360027.529346,460262.994113
6245,99-76.tif,99,76,357527.153018,465262.277605,360027.368623,462762.062002
6246,99-77.tif,99,77,357526.980899,467762.506630,360027.206428,465262.281104
6247,99-78.tif,99,78,357527.616560,470262.749518,360026.863399,467762.502980
6248,99-79.tif,99,79,357527.616560,472677.021964,360026.863399,470262.749518

In [5]:
31121/5

6224.2

In [11]:
dtm.get_extend()

(622455.0, 369160.6, 622955.0, 368660.6)

In [15]:
dtm.index['uly'].max()

553568.494734126