In [1]:
import os
import sys
import geopandas
import pandas as pd
import numpy as np
#from pyproj import CRS
try:
    from osgeo import ogr, osr, gdal
except:
    sys.exit('ERROR: cannot find GDAL/OGR modules')

In [2]:
path_dir = '/home/philipp/Data/edin_diss/GIS_wo/ba'
#file_name = 'wo_2020_{}_{}_change.shp'.format(fb,fr)

In [3]:
fb = 173
frs = [6,7,8]

wo_geo_list = []

for fr in frs:
    # get fb
    path_file = os.path.join(path_dir,'wo_2020_{}_{}_change.shp'.format(fb,fr))

    print(path_file)

    # read dat from file
    wo_geo_list.append(geopandas.read_file(path_file))

/home/philipp/Data/edin_diss/GIS_wo/ba/wo_2020_173_6_change.shp
/home/philipp/Data/edin_diss/GIS_wo/ba/wo_2020_173_7_change.shp
/home/philipp/Data/edin_diss/GIS_wo/ba/wo_2020_173_8_change.shp

In [4]:
wo_geo = geopandas.GeoDataFrame(pd.concat(wo_geo_list, ignore_index=True))

In [5]:
wo_geo.head()

,fb,fr,abt,uabt,teilfl,admin,length,area,fly_date,year_fly,...,dr,bp,zp,ru,sg,ma,year_fe,clear_area,clear_chec,geometry
0,173,6,65535,0,1,604,118.855316,930.838989,08.08.2017,225,...,0,0,0,0,0,0,0,0.0,0,"POLYGON ((561829.468 429926.124, 561823.140 42..."
1,173,6,65535,0,1,604,655.666565,26925.640625,08.08.2017,225,...,0,0,0,0,0,0,0,0.0,0,"POLYGON ((563356.338 429862.108, 563362.310 42..."
2,173,6,65535,0,1,604,668.704590,25358.236328,08.08.2017,225,...,0,0,0,0,0,0,0,0.0,0,"POLYGON ((568623.430 428974.555, 568614.190 42..."
3,173,6,65535,0,2,604,131.140549,999.567566,08.08.2017,225,...,0,0,0,0,0,0,0,0.0,0,"POLYGON ((561168.270 429196.665, 561142.690 42..."
4,173,6,65535,0,2,604,235.331772,1821.496460,08.08.2017,225,...,0,0,0,0,0,0,0,0.0,0,"POLYGON ((561243.481 429328.013, 561242.920 42..."

In [6]:
wo_geo.shape

(12498, 57)

In [7]:
wo_geo.columns

Index(['fb', 'fr', 'abt', 'uabt', 'teilfl', 'admin', 'length', 'area',
       'fly_date', 'year_fly', 'WO', 'fb_sap', 'fr_sap', 'abt_sap', 'uabt_sap',
       'teilfl_sap', 'start_term', 'uz', 'non_forest', 'economy', 'ww_sw',
       'sw_type', 'sea_level', 'exp', 'slope', 'site_type', 'veg_type',
       'growth_are', 'age', 'BL', 'FI', 'LH', 'NH', 'LA', 'KI', 'DG', 'SK',
       'mass_ha', 'mass_ha_lh', 'mass_ha_nh', 'mass_tot', 'mass_tot_l',
       'mass_tot_n', 'cut_area', 'cut_lh', 'cut_nh', 'cut_sum', 'dr', 'bp',
       'zp', 'ru', 'sg', 'ma', 'year_fe', 'clear_area', 'clear_chec',
       'geometry'],
      dtype='object')

In [8]:
# set all WO with BL to volume 0
wo_geo.loc[(wo_geo['BL']>1) & (wo_geo['mass_ha']>50), ['mass_ha', 'mass_ha_lh', 'mass_ha_nh', 'mass_tot', 'mass_tot_l',
       'mass_tot_n']] = 0

In [9]:
# filter abt 65535
wo_geo = wo_geo.loc[wo_geo['abt'] != 65535]

In [10]:
wo_geo.loc[(wo_geo['BL']>1) & (wo_geo['mass_ha']>0)]

,fb,fr,abt,uabt,teilfl,admin,length,area,fly_date,year_fly,...,dr,bp,zp,ru,sg,ma,year_fe,clear_area,clear_chec,geometry
1894,173,6,172,B,2,604,476.464233,7787.429688,08.08.2017,225,...,0,0,0,0,0,0,2017,44.373154,0,"POLYGON ((571522.598 428297.980, 571518.504 42..."
1895,173,6,172,B,2,604,580.460144,17097.730469,08.08.2017,225,...,0,0,0,0,0,0,2017,52.467258,0,"POLYGON ((571809.378 428352.210, 571825.590 42..."
1896,173,6,172,B,2,604,232.013260,2820.260742,08.08.2017,225,...,0,0,0,0,0,0,2017,38.396027,0,"POLYGON ((571972.867 428156.666, 571974.190 42..."
1897,173,6,172,B,2,604,444.220734,6879.479492,08.08.2017,225,...,0,0,0,0,0,0,2017,38.558769,0,"POLYGON ((571661.056 428313.864, 571656.155 42..."
1898,173,6,172,B,2,604,299.509705,4237.936035,08.08.2017,225,...,0,0,0,0,0,0,2017,24.976393,0,"POLYGON ((571717.991 428400.844, 571716.667 42..."
7284,173,7,103,A,0,605,762.347839,19876.871094,08.08.2017,225,...,0,0,0,0,0,0,2017,16.893400,0,"POLYGON ((558510.590 425056.885, 558559.440 42..."
9645,173,8,248,B,3,615,326.326416,3964.330811,08.08.2017,225,...,0,0,0,0,0,0,2018,61.529995,0,"POLYGON ((566075.999 427291.746, 566093.990 42..."
9646,173,8,248,B,3,615,782.429626,17005.771484,08.08.2017,225,...,0,0,0,0,0,0,2018,60.958984,0,"POLYGON ((565672.810 427330.685, 565690.280 42..."
9982,173,8,255,Q,2,615,773.368591,22305.660156,08.08.2017,225,...,0,0,0,0,0,0,2018,35.069412,0,"POLYGON ((566860.767 423481.562, 566862.037 42..."
10056,173,8,256,S,2,615,210.358719,1628.786377,08.08.2017,225,...,0,0,0,0,0,0,2018,15.941140,0,"POLYGON ((566357.240 422249.455, 566349.845 42..."
10057,173,8,256,S,2,615,123.152954,989.604553,08.08.2017,225,...,0,0,0,0,0,0,2018,18.139534,0,"POLYGON ((566296.896 422345.281, 566283.714 42..."
10058,173,8,256,S,2,615,178.955215,1753.322510,08.08.2017,225,...,0,0,0,0,0,0,2018,10.382202,0,"POLYGON ((566309.378 422405.784, 566287.654 42..."
10288,173,8,262,U,2,615,166.596329,1281.671143,08.08.2017,225,...,0,0,0,0,0,0,2018,50.977325,0,"POLYGON ((567860.091 422308.115, 567858.398 42..."
10488,173,8,268,A,5,615,312.848236,2763.387451,08.08.2017,225,...,0,0,0,0,0,0,2018,8.079710,0,"POLYGON ((567551.579 420310.648, 567552.035 42..."
11704,173,8,442,E,2,615,151.976898,1376.603394,08.08.2017,225,...,0,0,0,0,0,0,2018,1.089325,0,"POLYGON ((570928.130 422698.775, 570900.368 42..."
11705,173,8,442,E,2,615,142.674591,1242.705200,08.08.2017,225,...,0,0,0,0,0,0,2018,2.333065,0,"POLYGON ((570881.860 422663.365, 570859.211 42..."
11706,173,8,442,E,2,615,480.814606,12149.557617,08.08.2017,225,...,0,0,0,0,0,0,2018,5.026324,0,"POLYGON ((570801.880 422755.605, 570792.343 42..."
12321,173,8,454,L,3,615,254.196487,1712.571411,08.08.2017,225,...,0,0,0,0,0,0,2018,15.156795,0,"POLYGON ((572728.916 421927.593, 572728.949 42..."
12322,173,8,454,L,3,615,149.737640,1309.704102,08.08.2017,225,...,0,0,0,0,0,0,2018,8.792048,0,"POLYGON ((572517.387 421863.562, 572483.555 42..."
12486,173,8,221,M,2,615,403.751343,8070.162598,08.08.2017,225,...,0,0,0,0,0,0,2018,56.236839,0,"POLYGON ((563261.010 422615.945, 563263.460 42..."

In [11]:
wo_geo['BL'].unique()

array([  0, 100,  70,  80,  60,  22,  90,  45,  30,  40])

In [12]:
# conditions 1 = BL, 2 = LH, 3 = NH, 4 = rest
conditions = [
    (wo_geo['non_forest'] == 1) | (wo_geo['non_forest'] == 2) | \
    (wo_geo['non_forest'] == 3) | (wo_geo['non_forest'] == 6) | \
    (wo_geo['non_forest'] == 7) | (wo_geo['non_forest'] == 8) | \
    (wo_geo['non_forest'] == 9),
    (wo_geo['age'] < 11) | (wo_geo['BL'] >= 50) | \
    (wo_geo['non_forest'] == 4) | (wo_geo['non_forest'] == 5),
    (wo_geo['LH'] >= 50), 
    (wo_geo['FI'] + wo_geo['LA'] + wo_geo['KI'] + wo_geo['DG'] + wo_geo['SK'] + wo_geo['NH']) > 50,]

choices = [4, 1, 2, 3]

wo_geo['typ'] = np.select(conditions, choices, default=0)

In [13]:
wo_geo[wo_geo['typ']==0]

Empty GeoDataFrame
Columns: [fb, fr, abt, uabt, teilfl, admin, length, area, fly_date, year_fly, WO, fb_sap, fr_sap, abt_sap, uabt_sap, teilfl_sap, start_term, uz, non_forest, economy, ww_sw, sw_type, sea_level, exp, slope, site_type, veg_type, growth_are, age, BL, FI, LH, NH, LA, KI, DG, SK, mass_ha, mass_ha_lh, mass_ha_nh, mass_tot, mass_tot_l, mass_tot_n, cut_area, cut_lh, cut_nh, cut_sum, dr, bp, zp, ru, sg, ma, year_fe, clear_area, clear_chec, geometry, typ]
Index: []

[0 rows x 58 columns]

In [14]:
wo_geo['typ'] = wo_geo['typ'].astype(int)

In [15]:
wo_geo

,fb,fr,abt,uabt,teilfl,admin,length,area,fly_date,year_fly,...,bp,zp,ru,sg,ma,year_fe,clear_area,clear_chec,geometry,typ
14,173,6,122,3,1,604,1286.813599,6356.668945,08.08.2017,225,...,0,0,0,0,0,2017,42.432346,0,"POLYGON ((561007.929 428106.430, 561017.094 42...",4
15,173,6,122,8,1,604,109.856964,430.866272,08.08.2017,225,...,0,0,0,0,0,2017,11.184211,0,"POLYGON ((561437.560 427918.005, 561436.000 42...",4
16,173,6,122,8,1,604,117.397163,773.459534,08.08.2017,225,...,0,0,0,0,0,2017,0.259067,0,"POLYGON ((561436.690 428010.115, 561432.840 42...",4
17,173,6,122,9,1,604,230.075043,2013.067139,08.08.2017,225,...,0,0,0,0,0,2017,20.160080,0,"POLYGON ((561433.530 428728.135, 561428.603 42...",4
18,173,6,122,9,2,604,282.932617,4219.614746,08.08.2017,225,...,0,0,0,0,0,2017,0.000000,0,"POLYGON ((561494.740 428736.715, 561494.290 42...",4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12493,173,8,227,Q,1,615,1264.983154,43026.851562,08.08.2017,225,...,0,0,0,0,0,2018,10.937500,1,"POLYGON ((564022.718 422795.678, 564026.185 42...",2
12494,173,8,227,P,2,615,485.981506,7885.287109,08.08.2017,225,...,0,0,0,0,0,2018,0.904113,0,"POLYGON ((564227.873 422378.800, 564246.160 42...",3
12495,173,8,227,I,2,615,612.394714,17287.351562,08.08.2017,225,...,0,0,0,0,0,2018,23.518862,0,"POLYGON ((563966.258 421950.789, 563953.881 42...",1
12496,173,8,226,H,0,615,769.906494,18071.158203,08.08.2017,225,...,0,0,0,0,0,2018,2.238680,0,"POLYGON ((563872.618 421645.698, 563882.089 42...",3
12497,173,8,225,G,1,615,1627.112549,57839.355469,08.08.2017,225,...,0,0,0,0,0,2018,3.791297,0,"POLYGON ((564467.994 421309.275, 564500.371 42...",3

In [16]:
# save to file
wo_geo.to_file("/home/philipp/Data/edin_diss/GIS_ground_truth/ba_2020/gis_ba_wwie_2020_{}.shp".format(fb))

In [17]:
# create geo-dataframe
wo_typ = wo_geo[['typ', 'geometry']]

In [18]:
# save to file
wo_typ.to_file("/home/philipp/Data/edin_diss/GIS_ground_truth/ba_2020/gis_ba_wwie_2020_typ_{}.shp".format(fb))