In [1]:
import os
import sys
import geopandas
import pandas as pd
import numpy as np
#from pyproj import CRS
try:
    from osgeo import ogr, osr, gdal
except:
    sys.exit('ERROR: cannot find GDAL/OGR modules')

In [2]:
path_dir = '/home/philipp/Data/edin_diss/GIS_wo/ba'
#file_name = 'wo_2020_{}_{}_change.shp'.format(fb,fr)

In [3]:
fb = 171
frs = [1,2,3,4,5]

wo_geo_list = []

for fr in frs:
    # get fb
    path_file = os.path.join(path_dir,'wo_2020_{}_{}_change.shp'.format(fb,fr))

    print(path_file)

    # read dat from file
    wo_geo_list.append(geopandas.read_file(path_file))

/home/philipp/Data/edin_diss/GIS_wo/ba/wo_2020_171_1_change.shp
/home/philipp/Data/edin_diss/GIS_wo/ba/wo_2020_171_2_change.shp
/home/philipp/Data/edin_diss/GIS_wo/ba/wo_2020_171_3_change.shp
/home/philipp/Data/edin_diss/GIS_wo/ba/wo_2020_171_4_change.shp
/home/philipp/Data/edin_diss/GIS_wo/ba/wo_2020_171_5_change.shp

In [4]:
wo_geo = geopandas.GeoDataFrame(pd.concat(wo_geo_list, ignore_index=True))

In [5]:
wo_geo.head()

,fb,fr,abt,uabt,teilfl,admin,length,area,fly_date,year_fly,...,dr,bp,zp,ru,sg,ma,year_fe,clear_area,clear_chec,geometry
0,171,1,65535,0,1,638,617.425415,26000.412109,03.07.2018,226,...,0,0,0,0,0,0,0,0.0,0,"POLYGON ((612979.660 488771.645, 612941.150 48..."
1,171,1,65535,0,1,638,997.054688,27502.474609,03.07.2018,226,...,0,0,0,0,0,0,0,0.0,0,"POLYGON ((608274.230 487998.205, 608276.340 48..."
2,171,1,65535,0,1,638,664.552368,17777.013672,03.07.2018,226,...,0,0,0,0,0,0,0,0.0,0,"POLYGON ((607727.700 489245.455, 607718.760 48..."
3,171,1,65535,0,3,638,303.454254,4570.759277,03.07.2018,226,...,0,0,0,0,0,0,0,0.0,0,"POLYGON ((614671.150 492615.825, 614676.250 49..."
4,171,1,65535,0,4,638,1097.615845,34848.410156,03.07.2018,226,...,0,0,0,0,0,0,0,0.0,0,"POLYGON ((615312.310 493091.725, 615302.507 49..."

In [6]:
wo_geo.shape

(9370, 57)

In [7]:
wo_geo.columns

Index(['fb', 'fr', 'abt', 'uabt', 'teilfl', 'admin', 'length', 'area',
       'fly_date', 'year_fly', 'WO', 'fb_sap', 'fr_sap', 'abt_sap', 'uabt_sap',
       'teilfl_sap', 'start_term', 'uz', 'non_forest', 'economy', 'ww_sw',
       'sw_type', 'sea_level', 'exp', 'slope', 'site_type', 'veg_type',
       'growth_are', 'age', 'BL', 'FI', 'LH', 'NH', 'LA', 'KI', 'DG', 'SK',
       'mass_ha', 'mass_ha_lh', 'mass_ha_nh', 'mass_tot', 'mass_tot_l',
       'mass_tot_n', 'cut_area', 'cut_lh', 'cut_nh', 'cut_sum', 'dr', 'bp',
       'zp', 'ru', 'sg', 'ma', 'year_fe', 'clear_area', 'clear_chec',
       'geometry'],
      dtype='object')

In [8]:
# set all WO with BL to volume 0
wo_geo.loc[(wo_geo['BL']>1) & (wo_geo['mass_ha']>50), ['mass_ha', 'mass_ha_lh', 'mass_ha_nh', 'mass_tot', 'mass_tot_l',
       'mass_tot_n']] = 0

In [9]:
# filter abt 65535
wo_geo = wo_geo.loc[wo_geo['abt'] != 65535]

In [10]:
wo_geo.loc[(wo_geo['BL']>1) & (wo_geo['mass_ha']>0)]

,fb,fr,abt,uabt,teilfl,admin,length,area,fly_date,year_fly,...,dr,bp,zp,ru,sg,ma,year_fe,clear_area,clear_chec,geometry
4135,171,3,148,A,2,640,330.279175,7147.547363,03.07.2018,226,...,0,0,0,0,0,0,2020,63.373394,0,"POLYGON ((607334.305 475454.833, 607350.445 47..."
5025,171,4,61,C,5,641,471.303375,7932.625000,03.07.2018,226,...,0,0,0,0,0,0,2020,50.800655,0,"POLYGON ((606481.880 484936.175, 606507.355 48..."
7173,171,5,101,E,2,644,265.275574,4004.539551,03.07.2018,226,...,0,0,0,0,0,0,2020,0.099875,0,"POLYGON ((607908.033 481512.717, 607911.938 48..."
8448,171,5,280,A,5,644,827.948364,22444.121094,03.07.2018,226,...,0,0,0,0,0,0,2020,34.993984,1,"POLYGON ((599620.202 476079.869, 599621.627 47..."
9249,171,5,104,B,2,644,1042.581543,41242.761719,03.07.2018,226,...,0,0,0,0,0,0,2020,49.855698,1,"POLYGON ((606808.205 482674.525, 606894.154 48..."

In [11]:
wo_geo['BL'].unique()

array([  0, 100,  60,  70,  80,  71,  90,  73])

In [12]:
# conditions 1 = BL, 2 = LH, 3 = NH, 4 = rest
conditions = [
    (wo_geo['non_forest'] == 1) | (wo_geo['non_forest'] == 2) | \
    (wo_geo['non_forest'] == 3) | (wo_geo['non_forest'] == 6) | \
    (wo_geo['non_forest'] == 7) | (wo_geo['non_forest'] == 8) | \
    (wo_geo['non_forest'] == 9),
    (wo_geo['age'] < 11) | (wo_geo['BL'] >= 50) | \
    (wo_geo['non_forest'] == 4) | (wo_geo['non_forest'] == 5),
    (wo_geo['LH'] >= 50), 
    (wo_geo['FI'] + wo_geo['LA'] + wo_geo['KI'] + wo_geo['DG'] + wo_geo['SK'] + wo_geo['NH']) > 50,]

choices = [4, 1, 2, 3]

wo_geo['typ'] = np.select(conditions, choices, default=np.nan)

In [13]:
wo_geo[wo_geo['typ']==0]

Empty GeoDataFrame
Columns: [fb, fr, abt, uabt, teilfl, admin, length, area, fly_date, year_fly, WO, fb_sap, fr_sap, abt_sap, uabt_sap, teilfl_sap, start_term, uz, non_forest, economy, ww_sw, sw_type, sea_level, exp, slope, site_type, veg_type, growth_are, age, BL, FI, LH, NH, LA, KI, DG, SK, mass_ha, mass_ha_lh, mass_ha_nh, mass_tot, mass_tot_l, mass_tot_n, cut_area, cut_lh, cut_nh, cut_sum, dr, bp, zp, ru, sg, ma, year_fe, clear_area, clear_chec, geometry, typ]
Index: []

[0 rows x 58 columns]

In [14]:
wo_geo['typ'] = wo_geo['typ'].astype(int)

In [15]:
wo_geo

,fb,fr,abt,uabt,teilfl,admin,length,area,fly_date,year_fly,...,bp,zp,ru,sg,ma,year_fe,clear_area,clear_chec,geometry,typ
8,171,1,506,3,1,638,4644.387207,20346.208984,03.07.2018,226,...,0,0,0,0,0,2020,14.214986,0,"POLYGON ((617823.101 493816.881, 617812.861 49...",4
9,171,1,506,5,1,638,73.947479,284.159760,03.07.2018,226,...,0,0,0,0,0,2020,0.000000,0,"POLYGON ((616681.900 493795.705, 616673.380 49...",1
10,171,1,506,5,1,638,105.504440,627.852722,03.07.2018,226,...,0,0,0,0,0,2020,0.000000,0,"POLYGON ((616727.780 493818.285, 616693.580 49...",1
11,171,1,506,9,1,638,196.162018,2351.204590,03.07.2018,226,...,0,0,0,0,0,2020,0.000000,0,"POLYGON ((617131.470 494010.975, 617124.440 49...",4
12,171,1,506,9,2,638,385.514771,3836.863281,03.07.2018,226,...,0,0,0,0,0,2020,12.662337,0,"POLYGON ((616769.916 493463.354, 616703.848 49...",4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9365,171,5,227,B,0,644,1704.996460,137859.171875,03.07.2018,226,...,0,0,0,0,0,2020,0.209650,0,"POLYGON ((602380.300 480764.001, 602362.725 48...",2
9366,171,5,227,B,0,644,1704.996460,137859.171875,03.07.2018,226,...,0,0,0,0,0,2020,0.209650,0,"POLYGON ((602092.487 480678.229, 602105.366 48...",2
9367,171,5,227,B,0,644,1704.996460,137859.171875,03.07.2018,226,...,0,0,0,0,0,2020,0.209650,0,"POLYGON ((602067.853 480850.622, 602066.875 48...",2
9368,171,5,227,B,0,644,1704.996460,137859.171875,03.07.2018,226,...,0,0,0,0,0,2020,0.209650,0,"POLYGON ((602209.170 480884.326, 602207.505 48...",2
9369,171,5,227,B,0,644,1704.996460,137859.171875,03.07.2018,226,...,0,0,0,0,0,2020,0.209650,0,"POLYGON ((602161.742 480882.065, 602155.680 48...",3

In [24]:
# save to file
wo_geo.to_file("/home/philipp/Data/edin_diss/GIS_ground_truth/ba_2020/gis_ba_wwie_2020.shp")

In [25]:
# create geo-dataframe
wo_typ = wo_geo[['typ', 'geometry']]

In [27]:
# save to file
wo_typ.to_file("/home/philipp/Data/edin_diss/GIS_ground_truth/ba_2020/gis_ba_wwie_2020_typ.shp")