In [3]:
import os
import sys
import geopandas
import pandas as pd
import numpy as np
#from pyproj import CRS
try:
    from osgeo import ogr, osr, gdal
except:
    sys.exit('ERROR: cannot find GDAL/OGR modules')

In [5]:
path_dir = '/home/philipp/Data/edin_diss/GIS_wo/ba'
#file_name = 'wo_2020_{}_{}_change.shp'.format(fb,fr)

In [7]:
fb = 171
frs = [1,2,3,4,5]

wo_geo_list = []

for fr in frs:
    # get fb
    path_file = os.path.join(path_dir,'wo_2020_{}_{}_change.shp'.format(fb,fr))

    print(path_file)

    # read dat from file
    wo_geo_list.append(geopandas.read_file(path_file))

/home/philipp/Data/edin_diss/GIS_wo/ba/wo_2020_171_1_change.shp
/home/philipp/Data/edin_diss/GIS_wo/ba/wo_2020_171_2_change.shp
/home/philipp/Data/edin_diss/GIS_wo/ba/wo_2020_171_3_change.shp
/home/philipp/Data/edin_diss/GIS_wo/ba/wo_2020_171_4_change.shp
/home/philipp/Data/edin_diss/GIS_wo/ba/wo_2020_171_5_change.shp

In [8]:
wo_geo = geopandas.GeoDataFrame(pd.concat(wo_geo_list, ignore_index=True))

In [9]:
wo_geo.head()

,fb,fr,abt,uabt,teilfl,admin,length,area,fly_date,year_fly,...,dr,bp,zp,ru,sg,ma,year_fe,clear_area,clear_chec,geometry
0,171,1,65535,0,1,638,617.425415,26000.412109,03.07.2018,226,...,0,0,0,0,0,0,0,0.0,0,"POLYGON ((612979.660 488771.645, 612941.150 48..."
1,171,1,65535,0,1,638,997.054688,27502.474609,03.07.2018,226,...,0,0,0,0,0,0,0,0.0,0,"POLYGON ((608274.230 487998.205, 608276.340 48..."
2,171,1,65535,0,1,638,664.552368,17777.013672,03.07.2018,226,...,0,0,0,0,0,0,0,0.0,0,"POLYGON ((607727.700 489245.455, 607718.760 48..."
3,171,1,65535,0,3,638,303.454254,4570.759277,03.07.2018,226,...,0,0,0,0,0,0,0,0.0,0,"POLYGON ((614671.150 492615.825, 614676.250 49..."
4,171,1,65535,0,4,638,1097.615845,34848.410156,03.07.2018,226,...,0,0,0,0,0,0,0,0.0,0,"POLYGON ((615312.310 493091.725, 615302.507 49..."

In [10]:
wo_geo.shape

(9370, 57)

In [20]:
wo_geo.columns

Index(['fb', 'fr', 'abt', 'uabt', 'teilfl', 'admin', 'length', 'area',
       'fly_date', 'year_fly', 'WO', 'fb_sap', 'fr_sap', 'abt_sap', 'uabt_sap',
       'teilfl_sap', 'start_term', 'uz', 'non_forest', 'economy', 'ww_sw',
       'sw_type', 'sea_level', 'exp', 'slope', 'site_type', 'veg_type',
       'growth_are', 'age', 'BL', 'FI', 'LH', 'NH', 'LA', 'KI', 'DG', 'SK',
       'mass_ha', 'mass_ha_lh', 'mass_ha_nh', 'mass_tot', 'mass_tot_l',
       'mass_tot_n', 'cut_area', 'cut_lh', 'cut_nh', 'cut_sum', 'dr', 'bp',
       'zp', 'ru', 'sg', 'ma', 'year_fe', 'clear_area', 'clear_chec',
       'geometry'],
      dtype='object')

In [21]:
# set all WO with BL to volume 0
wo_geo.loc[(wo_geo['BL']>1) & (wo_geo['mass_ha']>50), ['mass_ha', 'mass_ha_lh', 'mass_ha_nh', 'mass_tot', 'mass_tot_l',
       'mass_tot_n']] = 0

In [22]:
# filter abt 65535
wo_geo = wo_geo.loc[wo_geo['abt'] != 65535]

In [23]:
wo_geo.loc[(wo_geo['BL']>1) & (wo_geo['mass_ha']==0)]

,fb,fr,abt,uabt,teilfl,admin,length,area,fly_date,year_fly,...,dr,bp,zp,ru,sg,ma,year_fe,clear_area,clear_chec,geometry
121,171,5,46,A,1,644,2038.779541,50723.453125,03.07.2018,226,...,0,0,0,0,0,0,2020,5.316824,0,"POLYGON ((607536.870 483150.995, 607546.001 48..."
491,171,5,116,E,5,644,449.231232,6939.776367,03.07.2018,226,...,0,0,0,0,0,0,2020,0.000000,0,"POLYGON ((606844.106 480664.388, 606835.919 48..."
534,171,5,117,G,2,644,266.107635,3295.446533,03.07.2018,226,...,0,0,0,0,0,0,2020,0.121507,0,"POLYGON ((606901.366 481177.934, 606887.434 48..."
636,171,5,121,C,3,644,171.760788,1787.099731,03.07.2018,226,...,0,0,0,0,0,0,2020,0.000000,0,"POLYGON ((604140.490 482203.090, 604141.130 48..."
637,171,5,121,C,3,644,188.605545,1634.817505,03.07.2018,226,...,0,0,0,0,0,0,2020,58.982220,0,"POLYGON ((604012.297 482342.520, 604009.916 48..."
669,171,5,123,C,2,644,391.766388,8965.474609,03.07.2018,226,...,0,0,0,0,0,0,2020,0.000000,0,"POLYGON ((605538.080 480394.305, 605523.197 48..."
1519,171,5,290,B,4,644,288.515594,4143.255371,03.07.2018,226,...,0,0,0,0,0,0,2020,0.000000,0,"POLYGON ((598700.733 476506.251, 598686.842 47..."
1780,171,5,246,B,6,644,1259.845459,87074.562500,03.07.2018,226,...,2,1,3,35,1,DF,2020,0.830696,0,"POLYGON ((603634.395 481943.291, 603644.009 48..."
1788,171,5,46,A,3,644,2038.779541,50723.453125,03.07.2018,226,...,0,0,0,0,0,0,2020,6.772908,0,"POLYGON ((607645.473 483251.105, 607651.267 48..."
1796,171,5,118,B,5,644,287.592438,4247.717773,03.07.2018,226,...,0,0,0,0,0,0,2020,54.018311,0,"POLYGON ((606135.106 481509.177, 606135.076 48..."
1804,171,5,232,B,2,644,599.171326,8625.140625,03.07.2018,226,...,0,0,0,0,0,0,2020,15.489855,1,"POLYGON ((601459.033 479471.390, 601495.723 47..."
1893,171,5,118,B,5,644,287.592438,4247.717773,03.07.2018,226,...,0,0,0,0,0,0,2020,54.018311,0,"POLYGON ((606135.076 481509.089, 606135.106 48..."
1904,171,5,118,E,2,644,1224.988159,43092.632812,03.07.2018,226,...,5,3,9,101,9,DF,2020,0.689751,0,"POLYGON ((605319.128 481143.467, 605316.346 48..."
1982,171,5,238,A,1,644,3260.381836,252163.484375,03.07.2018,226,...,2,1,3,35,1,DF,2020,0.147408,0,"POLYGON ((603869.027 479635.637, 603869.027 47..."
1983,171,5,238,A,1,644,3260.381836,252163.484375,03.07.2018,226,...,2,1,3,35,1,DF,2020,0.147408,0,"POLYGON ((603792.964 479597.966, 603788.872 47..."

In [24]:
wo_geo['BL'].unique()

array([  0, 100,  90])

In [25]:
# conditions 1 = BL, 2 = LH, 3 = NH, 4 = rest
conditions = [
    (wo_geo['non_forest'] == 1) | (wo_geo['non_forest'] == 2) | \
    (wo_geo['non_forest'] == 3) | (wo_geo['non_forest'] == 6) | \
    (wo_geo['non_forest'] == 7) | (wo_geo['non_forest'] == 8) | \
    (wo_geo['non_forest'] == 9),
    (wo_geo['age'] < 10) | (wo_geo['BL'] >= 50) | \
    (wo_geo['non_forest'] == 4) | (wo_geo['non_forest'] == 5),
    (wo_geo['LH'] >= 50), 
    (wo_geo['FI'] + wo_geo['LA'] + wo_geo['KI'] + wo_geo['DG'] + wo_geo['SK'] + wo_geo['NH']) > 50,]

choices = [4, 1, 2, 3]

wo_geo['typ'] = np.select(conditions, choices, default=np.nan)

In [26]:
wo_geo[wo_geo['typ']==0]

Empty GeoDataFrame
Columns: [fb, fr, abt, uabt, teilfl, admin, length, area, fly_date, year_fly, WO, fb_sap, fr_sap, abt_sap, uabt_sap, teilfl_sap, start_term, uz, non_forest, economy, ww_sw, sw_type, sea_level, exp, slope, site_type, veg_type, growth_are, age, BL, FI, LH, NH, LA, KI, DG, SK, mass_ha, mass_ha_lh, mass_ha_nh, mass_tot, mass_tot_l, mass_tot_n, cut_area, cut_lh, cut_nh, cut_sum, dr, bp, zp, ru, sg, ma, year_fe, clear_area, clear_chec, geometry, typ]
Index: []

[0 rows x 58 columns]

In [27]:
wo_geo['typ'] = wo_geo['typ'].astype(int)

In [28]:
wo_geo

,fb,fr,abt,uabt,teilfl,admin,length,area,fly_date,year_fly,...,bp,zp,ru,sg,ma,year_fe,clear_area,clear_chec,geometry,typ
34,171,5,39,3,1,644,1233.831665,5988.526367,03.07.2018,226,...,0,0,0,0,0,2020,25.817211,0,"POLYGON ((609720.434 481931.822, 609722.140 48...",4
35,171,5,39,3,2,644,2233.063965,11448.966797,03.07.2018,226,...,0,0,0,0,0,2020,42.948151,0,"POLYGON ((609332.187 481529.760, 609341.117 48...",4
36,171,5,39,3,3,644,178.620224,880.684204,03.07.2018,226,...,0,0,0,0,0,2020,0.000000,0,"POLYGON ((609377.950 481487.395, 609412.780 48...",4
37,171,5,39,A,1,644,852.511963,41343.179688,03.07.2018,226,...,1,2,30,1,DF,2020,0.142757,0,"POLYGON ((609569.811 482017.354, 609559.190 48...",2
38,171,5,39,A,1,644,1030.466064,30737.925781,03.07.2018,226,...,1,2,30,1,DF,2020,0.065058,0,"POLYGON ((609389.889 481897.418, 609391.417 48...",2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2207,171,5,278,A,1,644,2309.719238,208835.453125,03.07.2018,226,...,0,0,0,0,0,2020,0.126419,0,"POLYGON ((600262.468 476579.025, 600272.028 47...",2
2208,171,5,294,E,2,644,889.335815,46722.750000,03.07.2018,226,...,0,0,0,0,0,2020,0.010749,0,"POLYGON ((600246.600 477230.154, 600263.864 47...",3
2209,171,5,294,E,2,644,889.335815,46722.750000,03.07.2018,226,...,0,0,0,0,0,2020,0.010749,0,"POLYGON ((600404.980 477308.665, 600398.527 47...",3
2210,171,5,294,E,2,644,889.335815,46722.750000,03.07.2018,226,...,0,0,0,0,0,2020,0.010749,0,"POLYGON ((600428.661 477123.715, 600419.707 47...",3
2211,171,5,294,E,2,644,889.335815,46722.750000,03.07.2018,226,...,0,0,0,0,0,2020,0.010749,0,"POLYGON ((600442.904 477213.512, 600433.566 47...",2

In [29]:
# save to file
wo_geo.to_file("/home/philipp/Data/edin_diss/GIS_ground_truth/ba_2020/gis_ba_wwie_2020_{}_{}.shp".format(fb,fr))